body {
  background-color: azure;
}
.dummyImageTest {
  background-color: lightblue;
}
.textAreaTest {
  resize: none;
}
.giefTopMargin {
  margin-top: 100px;
}
.indexPlate {
  margin: 10px;
  /*background-color: antiquewhite;*/
}